<% provide(:title, 'Восстановление пароля') %>
<h1>Восстановление пароля</h1>
    <%= form_for @user, url: recovery_path, method: :patch, html: {class: "form-horizontal"} do |f| %>
      <%= render 'shared/errors', object: f.object %>

      <div class="form-group">

        <%= label_tag :token, 'Контрольный код', class: "control-label" %>
        <%= text_field_tag :token, @token,class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password, class: "control-label" %>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, class: "control-label" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>

      <%= f.submit "Изменить", class: "btn btn-default" %>
    <% end %>
