<% provide(:title, 'Профиль пользователя') %>
<h1>Профиль пользователя</h1>
    <%= form_for @user, url: {action: 'save'}, method: :patch, html: {class: "form-horizontal"} do |f| %>
      <%= render 'shared/errors', object: f.object %>
      <div class="form-group">
        <%= f.label :name, class: "control-label" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email, class: "control-label" %>
        <%= f.text_field :email, class: "form-control"%>
      </div>

      <div class="form-group">
        <%= f.check_box :notify %>
        <%= f.label :notify, class: "control-label"%>
      </div>

      <div class="form-group">
        <%= f.label :password, class: "control-label" %>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, class: "control-label" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>

      <%= f.submit "Сохранить", class: "btn btn-default" %>
    <% end %>
